<h3><%= current_user.name %></h3> 

<a href='/users/<%= current_user.id %>/edit'>Edit Profile</a>

<form action='/secrets/create' method='post'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <textarea cols='50' rows='5' name='content'></textarea>
    <br>
    <input type='submit' value='Create Secret'>
    <hr>
</form>

<a href='/secrets/'>All Secrets</a>

<br>

<div class='left' style='width:400px; display: inline-block'>
    <h3>Your Secrets</h3>
    <% current_user.secrets.each do |secret| %>
        <p><%= secret.content %> <a href='/secrets/<%= secret.id %>/destory'>Delete</a></p>
    <% end %>
</div>

<div class='right' style='vertical-align:top; width:400px; display: inline-block'>
    <h3>Secrets Liked</h3>

</div>