<h1>Listing All Dojos</h1>
<table>
    <thead>
        <tr>
            <th>Coding Dojo Branch</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @dojos.each do |item| %>
            <tr>
                <td><%= item.branch %></td>
                <td><%= item.street %></td>
                <td><%= item.city %></td>
                <td><%= item.state %></td>
                <td><a href='show/<%= item.id %>'>Show </a> |<a href='edit/<%= item.id %>'> Edit </a> |
                <a href='delete/<%= item.id %>' data-method='delete'> Delete</a><td>
            <tr>
        <% end %>
    </tbody>
</table>

<hr>
<a href='new'>New Dojo</a>