<h1><%= @dojo.branch %>'s <%= @student.first_name %> <%= @student.last_name %></h1>

<h3>Email: <%= @student.email %></h3>

<fieldset>
</fieldset>

<a href='/'>Home</a>
<br>
<a href='/<%= @dojo.id %>/students/<%= @student.id %>/edit'>Edit</a>
